.tmuxinator/*.yml

.ICEauthority
.Skype/
.Sublime Text 2/
.VirtualBox/
.Xauthority
.adobe/
.bash_history
.bash_logout
.bash_profile
.byobu
.cache/
.codeintel/
.com.oxygenxml/
.compiz-1/
.config/
.cpanplus/
.creepy/
.cups/
.dbus/
.directory
.dmrc
.dropbox-dist/
.dropbox/
.e/
.efreet/
.esd_auth
.fontconfig/
.fonts.conf
.fonts/
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.gimp-2.6/
.gitconfig
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0-kde4
.hplip/
.htoprc
.icedtea/
.icedteaplugin/
.inputrc
.install4j
.java/
.joe_state
.kde/
.knocker/
.komodoedit/
.libreoffice/
.local/
.macromedia/
.minecraft/
.mission-control/
.mozilla/
.mysql_history
.netx/
.openoffice.org/
.pearrc
.pki/
.profile
.pulse-cookie
.pulse/
.purple/
.recently-used
.screenrc
.ssh/
.subversion/
.sudo_as_admin_successful
.synaptic/
.teamviewer/
.themes/
.thumbnails/
.thunderbird/
.tilda/
.ure/
.viminfo
.xine/
.xsession-errors
.xsession-errors.old
.zcompdump
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Komodo-Edit-6/
Ubuntu One/
backup.sh
examples.desktop
test.php
test.sh
test.sql
test2.sql
test3.sql
test4.sql
tmux-client-16852.log
tmux-server-16854.log

